:root {
  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #198754;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --black: #000;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: white;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

/* Spotlight*/
/* Gallery */
#gallery h2 {
  text-align: center;
  font-size: 40px;
  margin: 50px 175px 50px 175px;
}
#gallery p {
  text-align: center;
  font-size: 22px;
  margin: 0 400px 175px 400px;
}
#gallery p code {
  background-color: #f2f2f2;
}
#gallery .text-gallery .bold-gallery {
  font-weight: bold;
}
#gallery a:link {
  color: #000;
}
#gallery a:hover {
  color: #3c69c3;
  text-transform: uppercase;
  outline: none;
  text-decoration: none;
}
#gallery .container-gallery {
  display: flex;
  width: 100vw;
  height: 450px;
  overflow: hidden;
}
#gallery .container-gallery img {
  width: 540px;
  height: 300px;
}
/* Items Section */
/* Headings */
.ae-headings dt {
  padding-top: 50px;
  margin-right: 255px;
  border-top: 1px solid black;
  display: block;
  align-content: left;
  font-size: 35px;
  margin-left: 300px;
}
.ae-headings dd {
  display: block;
  text-align: justify;
  line-height: 35px;
  align-content: right;

  margin: 0 270px 0 820px;
  padding: 40px 0 40px 0;
}
.headings-borderB {
  border-bottom: 1px solid black;
}
.ae-headings h1 {
  font-size: 57px;
  padding-top: 0;
  margin-top: 0;
}
.ae-headings h2 {
  font-size: 41px;
}
.ae-headings h3 {
  font-size: 31px;
}
.ae-headings h4 {
  font-size: 25px;
  font-style: italic;
}
.ae-headings p {
  font-size: 22px;
}
/* Buttons - Actions */
.ae-buttons button,
.ae-actions button {
  border-radius: 1.8rem;
  margin:1em 1em .8em 0;
  padding: 1em;
}
.ae-buttons button:hover,
.ae-actions button:hover{
  background-color: #60d9e9;
  border-color:  #60d9e9;
  color:white ;
  /* border-radius: 1.8rem;
  margin:1em 1em .8em 0;
  padding: 1em; */
}
.ae-buttons .default,
.ae-actions .default {
  width: 10em;
  font-size: 20px;
}
.ae-buttons .fit,
.ae-actions .fit {
  padding: 0.7em;
  width: 11em;
  font-size: 20px;
}
.ae-buttons .fit-s,
.ae-actions .fit-s {
  padding: 0.7em;
  width: 15em;
  font-size: 16px;
}
.ae-buttons .dark,
.ae-actions .dark {
  background-color: #000;
  color: #f2f2f2;
}
.ae-buttons .light,
.ae-actions .light {
  background-color: white;
  border-color: #c0c0c0;
  color: #000;
}
.ae-buttons .light-blue {
  background-color: white;
  border-color: #c0c0c0 #60d9e9 #60d9e9 #60d9e9;
  color: #60d9e9;
}
.ae-buttons .gray {
  background-color: #c0c0c0;
  border-color: #c0c0c0;
  color: #f2f2f2;
}
.ae-buttons .light-gray {
  background-color: white;
  border-color: #c0c0c0;
  color: #c0c0c0;
}
.ae-buttons dt,
.ae-actions dt {
  padding-top: 50px;
  margin-right: 255px;
  border-top: 1px solid black;
  display: block;
  align-content: left;
  font-size: 35px;
  margin-left: 300px;
}
.ae-buttons dd,
.ae-actions dd {
  display: block;
  text-align: justify;
  line-height: 35px;
  align-content: right;
  margin: -40px 270px 0 820px;
  padding: 40px 0 40px 0;
}
.ae-actions dd{
  padding-top: 0;
}
.ae-buttons .noPadding,
.ae-actions .noPadding{
padding-top: 0;
}
.ae-buttons .large {
  width: 10em;
  font-size: 20px;
}
.ae-buttons .small,
.ae-actions .small {
  width: 8em;
  font-size: 13px;
  margin-top: 0.6em;
}
.ae-buttons .button-c5:nth-child(1),
.ae-buttons .button-c5:nth-child(2) {
  width: 8em;
  font-size: 20px;
}
.ae-actions .button-a3:nth-child(2),
.ae-actions .button-a3:nth-child(4) {
  margin: 1em 0 .5em 0;
}

.ae-actions .button-a4:nth-child(2),
.ae-actions .button-a4:nth-child(4) {
  margin: 1em 0 .5em 0;
  width: 27em;
  font-size: 20px;
}
