:root {
  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #198754;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --black: #000;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  background-color: #111111;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

/* Spotlights */
#spotlight > div.spotlight_banner {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: none;
  background-color: white;
  margin: 0;
}

#spotlight > div.spotlight_banner > div.spotlight_banner_right > img {
  width: 100%;
  height: 950px;
  object-fit: cover;
}
#spotlight > div.spotlight_banner > div.spotlight_banner_right {
  width: 51%;
}
#spotlight > div.spotlight_banner > div.spotlight_banner_left {
  width: 46%;
  text-align: left;
  margin: 9% 4% 4% 4%;
  padding-left: 1em;
  font-size: 1.4em;
}
#spotlight
  > div.spotlight_banner
  > div.spotlight_banner_left
  > h1
  > span.icono {
  font-size: 2.5em;
}
#spotlight > div.spotlight_banner > div.spotlight_banner_left > h1 > span.code {
  font-family: sans-serif;
  color: #e62f41;
  font-style: oblique;
  font-size: 2.5em;
  font: larger;
}
#spotlight > div.spotlight_banner > div.spotlight_banner_left > h1 > span.team {
  font-size: 2.5em;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  color: rgb(22, 22, 22);
  font-style: oblique;
}
#spotlight > div.spotlight_banner > div.spotlight_banner_left > h1 {
  letter-spacing: -0.2em;
}
#spotlight > div.spotlight_banner > div.spotlight_banner_left > p.parrafo1 {
  font-size: 1.3em;
  color: rgb(155, 154, 154);
  line-height: 1.5em;
}
#spotlight
  > div.spotlight_banner
  > div.spotlight_banner_left
  > p.parrafo1
  > span.underline {
  text-decoration: underline 5px rgb(96, 95, 95);
}

#spotlight > div.spotlight_banner > div.spotlight_banner_left > p.parrafo2 {
  font-size: 1.5rem;
  color: rgb(155, 154, 154);
  line-height: 1.6em;
}
#spotlight
  > div.spotlight_banner
  > div.spotlight_banner_left
  > p.parrafo2
  > span.stronger {
  font-weight: 900;
  color: rgb(92, 92, 92);
}
#spotlight
  > div.spotlight_banner
  > div.spotlight_banner_left
  > p.parrafo2
  > span.code {
  background-color: rgb(243, 243, 243);
  padding: 0.3em;
}
#spotlight
  > div.spotlight_banner
  > div.spotlight_banner_left
  > p.parrafo2
  > span.underline {
  text-decoration: underline 5px rgb(96, 95, 95);
}
#spotlight > div.spotlight_banner > div.spotlight_banner_left > button {
  width: 14em;
  height: 3.5em;
  font-size: 1em;
  background-color: white;
  border-radius: 6em;
  color: rgb(65, 65, 65);
  border: 1px solid rgb(77, 77, 76);
  margin-top: 6%;
}
#spotlight > div.spotlight_banner > div.spotlight_banner_left > button:hover {
  color: #0dcaf0;
  border-color: #0dcaf0;
}

#spotlight > div.spotlight_1 {
  width: 100%;
  display: flex;
  flex-direction: row;

  background-color: white;
  margin: 0;
}
#spotlight > div.spotlight_1 > div.spotlight1_left > img {
  width: 100%;
}
#spotlight > div.spotlight_1 > div.spotlight1_left {
  width: 35%;
}
#spotlight > div.spotlight_1 > div.spotlight1_right {
  width: 65%;
  text-align: left;
  margin: 4% 4% 4%;

  padding-left: 2em;

  font-size: 1.4em;
}
#spotlight > div.spotlight_1 > div.spotlight1_right > h1.header {
  font-size: 2.2em;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  color: rgb(22, 22, 22);
}
#spotlight > div.spotlight_1 > div.spotlight1_right > p {
  color: rgb(155, 154, 154);
  line-height: 0.9em;
}
#spotlight > div.spotlight_1 > div.spotlight1_right > p > span.stronger {
  font-weight: 900;
  color: rgb(92, 92, 92);
}
#spotlight > div.spotlight_1 > div.spotlight1_right > p > span.underline {
  text-decoration: underline 5px rgb(96, 95, 95);
}
#spotlight > div.spotlight_1 > div.spotlight1_right > p > span.code {
  background-color: rgb(243, 243, 243);
  padding: 0.3em;
}
#spotlight > div.spotlight_1 > div.spotlight1_right > button {
  width: 15em;
  height: 4.3em;
  font-size: 0.6em;
  background-color: white;
  border-radius: 6em;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(77, 77, 76);

  font-weight: 400;
}
#spotlight > div.spotlight_1 > div.spotlight1_right > button:hover {
  color: #0dcaf0;
  border-color: #0dcaf0;
}
#spotlight > div.spotlight_2 {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  background-color: white;
}

#spotlight > div.spotlight_2 > div.spotlight2_left {
  width: 65%;
  text-align: left;
  margin: 4% 4% 4%;

  padding-left: 2em;

  font-size: 1.4em;
}
#spotlight > div.spotlight_2 > div.spotlight2_right > img {
  width: 100%;
  height: 455px;
}
#spotlight > div.spotlight_2 > div.spotlight2_right {
  width: 35%;
}
#spotlight > div.spotlight_2 > div.spotlight2_left > h1.header {
  font-size: 2.2em;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  color: rgb(22, 22, 22);
}
#spotlight > div.spotlight_2 > div.spotlight2_left > p {
  color: rgb(155, 154, 154);
  line-height: 0.9em;
}
#spotlight > div.spotlight_2 > div.spotlight2_left > p > span.stronger {
  font-weight: 900;
  color: rgb(92, 92, 92);
}
#spotlight > div.spotlight_2 > div.spotlight2_left > p > span.underline {
  text-decoration: underline 5px rgb(96, 95, 95);
}
#spotlight > div.spotlight_2 > div.spotlight2_left > p > span.code {
  background-color: rgb(243, 243, 243);
  padding: 0.3em;
}
#spotlight > div.spotlight_2 > div.spotlight2_left > button {
  width: 15em;
  height: 4.3em;
  font-size: 0.6em;
  background-color: white;
  border-radius: 6em;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(77, 77, 76);

  font-weight: 400;
}
#spotlight > div.spotlight_2 > div.spotlight2_left > button:hover {
  color: #0dcaf0;
  border-color: #0dcaf0;
}
#spotlight > div.spotlight_3 {
  width: 100%;
  display: flex;
  flex-direction: row;

  background-color: white;
  margin: 0;
}
#spotlight > div.spotlight_3 > div.spotlight3_left > img {
  width: 100%;
  height: 455px;
}
#spotlight > div.spotlight_3 > div.spotlight3_left {
  width: 35%;
}
#spotlight > div.spotlight_3 > div.spotlight3_right {
  width: 65%;
  text-align: left;
  margin: 4% 4% 4%;

  padding-left: 2em;

  font-size: 1.4em;
}
#spotlight > div.spotlight_3 > div.spotlight3_right > h1.header {
  font-size: 2.2em;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  color: rgb(22, 22, 22);
}
#spotlight > div.spotlight_3 > div.spotlight3_right > p {
  color: rgb(155, 154, 154);
  line-height: 0.9em;
}
#spotlight > div.spotlight_3 > div.spotlight3_right > p > span.stronger {
  font-weight: 900;
  color: rgb(92, 92, 92);
}
#spotlight > div.spotlight_3 > div.spotlight3_right > p > span.underline {
  text-decoration: underline 5px rgb(96, 95, 95);
}
#spotlight > div.spotlight_3 > div.spotlight3_right > p > span.code {
  background-color: rgb(243, 243, 243);
  padding: 0.3em;
}
#spotlight > div.spotlight_3 > div.spotlight3_right > button {
  width: 15em;
  height: 4.3em;
  font-size: 0.6em;
  background-color: white;
  border-radius: 6em;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(77, 77, 76);

  font-weight: 400;
}
#spotlight > div.spotlight_3 > div.spotlight3_right > button:hover {
  color: #0dcaf0;
  border-color: #0dcaf0;
}

/* Additionals Elements */
#aditionalElements > div.aditionalElements {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
}
#aditionalElements > div.aditionalElements > div.top {
  text-align: center;
  margin-top: 3em;
  font-size: 1.4em;
  margin-bottom: 2em;
  color: rgb(155, 154, 154);
}
#aditionalElements > div.aditionalElements > div.top > h1.header {
  font-size: 2.3em;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  letter-spacing: -2px;
  color: rgb(74, 74, 74);
  margin-bottom: 1%;
}
#aditionalElements > div.aditionalElements > div.top > p > span.curve {
  font-style: oblique;
  font-family: "Poppins", sans-serif;
  color: rgb(102, 101, 101);
}
#aditionalElements > div.aditionalElements > div.bottom {
  display: flex;
  justify-content: space-evenly;
  margin: 4em auto;
}
#aditionalElements > div.aditionalElements > div.bottom > div.textLeft {
  font-size: 1.7em;
  padding-right: 9em;
  margin-right: 4em;

  color: rgb(135, 134, 134);
  letter-spacing: -1.5px;
}
#aditionalElements > div.aditionalElements > div.bottom > div.textRight {
  font-size: 1.4em;
  color: rgb(155, 154, 154);
  line-height: 1.7em;
  padding-right: 3em;
}
#aditionalElements
  > div.aditionalElements
  > div.bottom
  > div.textRight
  > p
  > span.bold {
  font-weight: 900;
  color: rgb(92, 92, 92);
}
#aditionalElements
  > div.aditionalElements
  > div.bottom
  > div.textRight
  > p
  > span.curve {
  font-style: oblique;
}
#aditionalElements
  > div.aditionalElements
  > div.bottom
  > div.textRight
  > p
  > span.underline {
  text-decoration: underline 2px rgb(96, 95, 95);
}
#aditionalElements
  > div.aditionalElements
  > div.bottom
  > div.textRight
  > p
  > span.code {
  background-color: rgb(243, 243, 243);
  padding: 0.3em;
  border-radius: 6px;
}
